@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
.text {
  font-family: "Raleway", sans-serif;
  color: #393939;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 16px;
}

.text-bold {
  font-family: "Raleway", sans-serif;
  color: #393939;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 16px;
  font-weight: 700;
}

.title {
  font-family: "Raleway", sans-serif;
  color: #393939;
  font-size: 35px;
  font-weight: 800;
}

.title-block {
  font-family: "Raleway", sans-serif;
  color: #393939;
  font-size: 35px;
  font-weight: 800;
  padding-bottom: 100px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 200px;
}

.image-wrapper {
  width: 620px;
  height: 296px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  max-width: 620px;
}

.row-grid {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.header {
  max-width: 1280px;
  margin: 0 auto;
  position: fixed;
  display: flex;
  top: 30px;
  right: 0;
  left: 0;
  justify-content: space-between;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 12px 32px;
}
.header__controls {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  margin-right: 100px;
  column-gap: 62px;
}
.header__lang {
  display: flex;
  column-gap: 16px;
}

.lang__link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.navigation__link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.hero {
  background: no-repeat url("../images/images/hero_image.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 800px;
}
.hero__title {
  color: #fff;
  font-family: "Unbounded", cursive;
  font-size: 80px;
  font-weight: 800;
  line-height: 99px;
  max-width: 612px;
}
.hero__subtitle {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  max-width: 612px;
  padding-top: 50px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}
.about__description {
  max-width: 620px;
}
.weather {
  padding-bottom: 200px;
}

.subscribe {
  width: 400px;
  height: 80px;
  position: fixed;
}
.subscribe__btn {
  width: 400px;
  padding: 12px 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: #393939;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.rent {
  background: no-repeat url("../images/images/rent_background.jpg");
  background-size: cover;
  min-height: 1096px;
}
.rent__column-left {
  display: flex;
  row-gap: 50px;
  flex-direction: column;
}
.rent__item-left {
  max-width: 510px;
}
.rent__column-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rent__item-right {
  width: 290px;
}
.rent__title {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 800;
  padding-bottom: 100px;
}
.rent__subtitle {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  padding-bottom: 20px;
}
.rent__subtitle--padding-32 {
  padding-bottom: 32px;
}
.rent__list-item {
  padding-bottom: 10px;
  list-style-type: disc;
  margin-left: 35px;
}
.rent__text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.rent__text-big {
  color: #fff;
  font-family: "Unbounded", cursive;
  font-size: 35px;
  font-weight: 700;
}
.rent__price {
  display: flex;
  gap: 32px 127px;
  flex-wrap: wrap;
}
.rent__price-item {
  max-width: 100px;
}

.gift {
  min-height: 512px;
}
.gift__text {
  padding-bottom: 50px;
}

.form__fieldset {
  padding-bottom: 32px;
}
.form__row {
  display: flex;
  justify-content: space-between;
}
.form__column {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.form__input {
  border: 1px solid #393939;
  border-radius: 10px;
  padding: 12px 20px;
  color: rgba(57, 57, 57, 0.4);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.form__hours {
  width: 30%;
}
.form__email {
  width: 65%;
}
.form__submit {
  padding: 17px 0;
  width: 100%;
  background-color: #03463d;
  border-radius: 10px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.gift-card {
  max-width: 620px;
  border: 1px solid #03463d;
  border-radius: 10px;
  overflow: hidden;
}
.gift-card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #03463d;
  padding: 48px 63px 40px 10px;
}
.gift-card__logo {
  width: 207px;
  height: 50.14px;
}
.gift-card__title {
  color: #03463d;
  padding: 69px 0 50px;
}
.gift-card__tel {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.gift-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 42px;
}
.gift-card__footer {
  height: 49px;
  background-color: #03463d;
}
.gift-card__name {
  padding: 20px 0 26px;
  width: 75%;
  border-bottom: 1px solid #393939;
}

/*# sourceMappingURL=main.css.map */
