@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Unbounded:wght@700;800&display=swap");
.body {
  background-color: #faffee;
}

.text {
  font-family: "Raleway", sans-serif;
  color: #393939;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 16px;
}

.text-bold {
  font-family: "Raleway", sans-serif;
  color: #393939;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 16px;
  font-weight: 700;
}

.title {
  font-family: "Raleway", sans-serif;
  color: #393939;
  font-size: 35px;
  font-weight: 800;
}

.title-block {
  font-family: "Raleway", sans-serif;
  color: #393939;
  font-size: 35px;
  font-weight: 800;
}

.title__inner {
  padding-bottom: 100px;
}

.title__outer {
  padding-bottom: 100px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.image-wrapper {
  height: 296px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.block-image {
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  max-width: 620px;
}

.row-grid {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.container-grid {
  display: grid;
  column-gap: 40px;
  grid-template-areas: "grid-title grid-title" "grid-left grid-right";
  grid-template-columns: 1fr 1fr;
}

.grid-title {
  grid-area: grid-title;
  max-width: 620px;
  width: 100%;
}

.grid-left {
  grid-area: grid-left;
}

.grid-right {
  grid-area: grid-right;
}

.block__pd-top {
  padding-top: 200px;
}
.block__pd-top-bottom {
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (max-width: 950px) {
  .title__inner {
    padding-top: 50px;
    padding-bottom: 32px;
  }
  .title__outer {
    padding-bottom: 50px;
  }
  .block__pd-top {
    padding-top: 100px;
  }
  .block__pd-top-bottom {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 1280px) {
  .row {
    flex-direction: column;
  }
}
@media (max-width: 950px) {
  .container-grid {
    display: grid;
    column-gap: 40px;
    grid-template-areas: "grid-left" "grid-title" "grid-right";
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .grid-right {
    max-width: 620px;
  }
  .title-block {
    padding: 50px 0 32px;
  }
}
@supports (display: grid) {
  .scrollblock {
    overflow: hidden;
  }
  .items {
    position: relative;
    width: calc(1270px + (100vw - 1280px) / 2);
    overflow-y: hidden;
    white-space: nowrap;
    cursor: pointer;
  }
  .items::-webkit-scrollbar {
    height: 3px;
  }
  .items::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
    background-color: rgb(206, 204, 204);
    width: 900px;
  }
  .items::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #03463d;
    border-radius: 20px;
  }
  .items::-webkit-scrollbar-thumb:hover {
    background-color: #03463d;
  }
  .items::-webkit-scrollbar:vertical {
    display: none;
  }
  .items.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
  .item {
    display: inline-block;
    min-height: 250px;
    min-width: 400px;
    margin-right: 36px;
    margin-bottom: 25px;
  }
  @media screen and (max-width: 500px) {
    .item {
      min-height: 200px;
      min-width: 200px;
    }
  }
  .item .item.item11 {
    background: transparent;
  }
}
@media (max-width: 1280px) {
  .items {
    width: 100%;
  }
}
.header {
  max-width: 1280px;
  margin: 0 auto;
  position: fixed;
  display: flex;
  top: 25px;
  right: 0;
  left: 0;
  justify-content: space-between;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 12px 32px;
  z-index: 9999;
  transition: all 0.5s ease-out;
}
.header__state_dark {
  background-color: rgba(54, 53, 53, 0.418);
}
.header__state_hidden {
  top: -80px;
}
.header__controls {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  margin-right: 100px;
  column-gap: 62px;
}
.header__lang {
  display: flex;
  column-gap: 16px;
}
@media (max-width: 950px) {
  .header {
    width: calc(100% - 10px);
    top: 25px;
    flex-direction: column;
  }
  .header__state_active {
    width: 100%;
    border-radius: 0px;
    background: #03463d;
    height: 100vh;
    align-items: center;
    top: 0px;
  }
  .header__controls {
    padding-top: 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
  }
  .header__controls_hidden {
    display: none;
  }
  .header__nav {
    display: flex;
    margin-right: 0px;
    column-gap: 62px;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 50px;
  }
  .header__lang {
    display: flex;
    column-gap: 31px;
    justify-content: center;
  }
  .header__logo {
    width: 103px;
  }
  .header__burger {
    position: absolute;
    right: 195px;
    top: 5px;
  }
  .header__burger_active {
    top: 10px;
  }
  .header__state_hidden {
    top: -80px;
  }
}

.lang__link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.navigation__link {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 950px) {
  .navigation__link {
    font-size: 35px;
  }
}

.hero {
  background: no-repeat url("../images/images/hero_image.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 800px;
}
.hero__title {
  color: #fff;
  font-family: "Unbounded", cursive;
  font-size: 80px;
  font-weight: 800;
  padding-top: 20%;
  line-height: 99px;
  max-width: 612px;
}
.hero__subtitle {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  max-width: 612px;
  padding-top: 50px;
}
@media (max-width: 1280px) {
  .hero {
    padding: 0 15px;
  }
}
@media (max-width: 750px) {
  .hero {
    background-position: -733px 0px;
  }
  .hero__title {
    color: #fff;
    font-family: "Unbounded", cursive;
    font-size: 45px;
    font-weight: 800;
    line-height: 56px;
    padding-top: 280px;
  }
  .hero__subtitle {
    font-size: 20px;
    line-height: 23px;
  }
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}
.about__description {
  max-width: 620px;
}
.about__text:last-child {
  padding-bottom: 0px;
}

.weather {
  padding-bottom: 200px;
}
.weather__widget {
  width: 100%;
}
@media (max-width: 950px) {
  .weather {
    padding-bottom: 100px;
  }
  .weather__container {
    padding-top: 50px;
  }
  .weather__title {
    padding-top: 0px;
  }
}

.connect {
  position: fixed;
  z-index: 100;
  display: flex;
  column-gap: 20px;
  row-gap: 40px;
}
.connect__links {
  opacity: 1;
  display: flex;
  column-gap: 20px;
  margin-left: 0px;
  transition: all 0.5s ease-out;
  z-index: 80;
}
.connect__links_hidden {
  opacity: 0;
  margin-left: -225px;
  transition: all 0.5s ease-out;
}
.connect__link {
  width: 48px;
  height: 48px;
  background-color: #fff;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-out;
}
.connect__link:hover .connect__stroke {
  stroke: #fff;
}
.connect__link:hover .connect__fill {
  fill: #fff;
}
.connect__telegram:hover {
  background: linear-gradient(180deg, #41bce7 0%, #22a6dc 99.64%);
}
.connect__whatsapp:hover {
  background: #25d366;
}
.connect__insta:hover {
  background: linear-gradient(45deg, #ffd521 14.64%, #ffd020 18.54%, #fec01e 23.42%, #fca71b 28.82%, #fa8316 34.59%, #f85510 40.67%, #f51e09 46.91%, #f30005 50%, #f20007 50.25%, #e1003b 56.83%, #d30067 63.29%, #c70088 69.49%, #bf00a0 75.38%, #bb00af 80.81%, #b900b4 85.36%);
}
.connect__facebook:hover {
  background: #1877f2;
}
.connect__phone:hover {
  background: #25d366;
}
.connect__btn {
  padding: 12px 24px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 100;
  color: #393939;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 950px) {
  .connect {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.rent {
  background: no-repeat url("../images/images/rent_background.jpg");
  background-size: cover;
  min-height: 1096px;
}
.rent__column-left {
  display: flex;
  row-gap: 50px;
  flex-direction: column;
}
.rent__item-left {
  max-width: 510px;
}
.rent__column-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}
.rent__item-right {
  width: 290px;
}
.rent__title {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 800;
  padding-bottom: 100px;
}
.rent__subtitle {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  padding-bottom: 20px;
}
.rent__subtitle--padding-32 {
  padding-bottom: 32px;
}
.rent__list-item {
  padding-bottom: 10px;
  list-style-type: disc;
  margin-left: 35px;
}
.rent__text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}
.rent__text-big {
  color: #fff;
  font-family: "Unbounded", cursive;
  font-size: 35px;
  font-weight: 700;
}
.rent__price {
  display: flex;
  gap: 32px 127px;
  flex-wrap: wrap;
}
.rent__price-item {
  max-width: 100px;
}

@media (max-width: 1280px) {
  .rent__title {
    margin: 0 auto;
    max-width: 620px;
    padding-bottom: 50px;
  }
  .rent__item-left {
    max-width: 100%;
    width: 100%;
  }
  .rent__item-right {
    width: 100%;
  }
  .rent__price {
    justify-content: space-around;
  }
  .rent__row {
    align-items: center;
  }
  .rent__column-left {
    padding-bottom: 100px;
  }
}
.gift {
  min-height: 512px;
}
.gift__text {
  padding-bottom: 50px;
}

@media (max-width: 1280px) {
  .gift__container-grid {
    row-gap: 40px;
  }
}
.form__fieldset {
  padding-bottom: 32px;
}
.form__row {
  display: flex;
  justify-content: space-between;
}
.form__column {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.form__input {
  border: 1px solid #393939;
  border-radius: 10px;
  padding: 12px 20px;
  color: rgba(57, 57, 57, 0.4);
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.form__hours {
  width: 30%;
}
.form__email {
  width: 65%;
}
.form__submit {
  padding: 17px 0;
  width: 100%;
  background-color: #03463d;
  border-radius: 10px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.gift-card {
  max-width: 620px;
  border: 1px solid #03463d;
  border-radius: 10px;
  overflow: hidden;
}
.gift-card__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #03463d;
  padding: 48px 63px 40px 10px;
}
.gift-card__logo {
  width: 207px;
  height: 50.14px;
}
.gift-card__title {
  color: #03463d;
  padding: 69px 0 50px;
}
.gift-card__tel {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.gift-card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 42px;
  background-color: #fff;
}
.gift-card__footer {
  height: 49px;
  background-color: #03463d;
}
.gift-card__name {
  padding: 20px 0 26px;
  width: 75%;
  border-bottom: 1px solid #393939;
}

.services__text-bold {
  margin-bottom: 10px;
}
.services__list_padding {
  padding-bottom: 20px;
}
.services__slide {
  min-height: 500px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
}
.services__item {
  white-space: normal;
}
.services__list-item {
  padding-bottom: 4px;
}
.services__text-comment {
  padding-top: 5px;
}
.services__list-item__circle {
  list-style-type: disc;
  list-style-position: inside;
}
.services__footer {
  display: block;
  padding: 10px;
  width: 100%;
  border: 1px solid #393939;
  border-radius: 10px;
  text-align: center;
}
.services__items {
  width: 100%;
  max-width: 1280px;
}
@media (max-width: 420px) {
  .services .services__slide {
    min-height: 645px;
  }
}

@media (min-width: 1280px) {
  .services__items::-webkit-scrollbar {
    display: none;
  }
  .services__items::-webkit-scrollbar-track {
    display: none;
  }
  .services__items::-webkit-scrollbar-thumb {
    display: none;
  }
  .services__items::-webkit-scrollbar-thumb:hover {
    display: none;
  }
  .services__items::-webkit-scrollbar:vertical {
    display: none;
  }
}
.tours {
  overflow: hidden;
}
.tours__swiper {
  padding-top: 100px;
}
.tours__slider {
  padding-top: 100px;
}
@media (max-width: 750px) {
  .tours__slider {
    padding-top: 50px;
  }
}

.lakes__img {
  border-radius: 10px;
}
.lakes__text {
  padding-top: 32px;
}

.contacts {
  padding-bottom: 200px;
}
.contacts__row {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 3fr 1fr;
}
.contacts__link {
  display: block;
  padding-bottom: 16px;
}
.contacts__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 950px) {
  .contacts {
    padding-bottom: 100px;
  }
  .contacts__row {
    row-gap: 50px;
    grid-template-columns: 1fr;
  }
  .contacts__info {
    row-gap: 50px;
  }
}

.social {
  display: flex;
  column-gap: 33px;
}
.social__item {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #fff;
  text-align: center;
  padding-top: 10px;
}
.social__img {
  width: 28px;
}

.footer {
  min-height: 383px;
  background-color: #393939;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer__title {
  font-family: "Unbounded", cursive;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  padding-bottom: 40px;
}
.footer__text {
  color: #fff;
}
.footer__tel {
  display: block;
  color: #fff;
  padding-bottom: 16px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__column {
  max-width: 620px;
}
@media (max-width: 950px) {
  .footer .footer__row {
    flex-direction: column-reverse;
    row-gap: 30px;
    max-width: 620px;
    margin: 0 auto;
  }
}

.instagram {
  overflow: hidden;
  position: relative;
}
.instagram__items {
  padding-bottom: 20px;
}
.instagram__btn-wrapper {
  top: -150px;
  position: relative;
  max-width: 1280px;
}
.instagram__slide {
  overflow: hidden;
  border-radius: 10px;
  min-height: 296px;
  min-width: 296px;
  height: 296px;
  width: 296px;
}
.instagram__header {
  padding-bottom: 100px;
}
.instagram__img {
  width: 296px;
  height: auto;
}
.instagram__link {
  color: #03463d;
}
@media (max-width: 1280px) {
  .instagram .instagram__header {
    row-gap: 50px;
    padding-bottom: 32px;
  }
}
@media (max-width: 950px) {
  .instagram__header {
    padding-bottom: 32px;
  }
}

.menuToggle {
  display: none;
  position: relative;
  top: 18px;
  left: 163px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.menuToggle__input {
  display: none;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
@media (max-width: 950px) {
  .menuToggle {
    display: block;
  }
  .menuToggle__input {
    display: block;
  }
}

/*
 * Just a quick hamburger
 */
.menuToggle span {
  display: block;
  width: 33px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(40deg) translate(-8px, -14px);
  background: #fff;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-40deg) translate(-3px, 9px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul {
  transform: none;
}

.none {
  display: none;
}

.link__underline {
  text-decoration: underline !important;
}

@media (max-width: 1280px) {
  .container {
    padding: 0 15px;
  }
}
@media (max-width: 750px) {
  .title {
    font-size: 25px;
  }
  .text {
    font-size: 18px;
  }
  .title-block {
    font-family: "Raleway", sans-serif;
    color: #393939;
    font-size: 35px;
    font-weight: 800;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .title-block__padding-top {
    padding-top: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
