.animate__fadeInLeft.animate__animated {
  animation-duration: 2s;
}

.animate__fadeIn.animate__animated {
  animation-duration: 2s;
}

.animate__fadeInRight.animate__animated {
  animation-duration: 2s;
}

// animate__animated
.animate__visiable-custom {
  opacity: 0;
}
