@import "../utils/mixin";

.footer {
  min-height: 383px;
  background-color: $black;

  padding-top: 100px;
  padding-bottom: 100px;

  &__title {
    @include text($white, $font-unboun);
    padding-bottom: 40px;
  }

  &__text {
    color: $white;
  }
  &__tel {
    display: block;
    color: $white;
    padding-bottom: 16px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 950px) {
    .footer {
      &__row {
        flex-direction: column-reverse;
        row-gap: 30px;
        max-width: 620px;
        margin: 0 auto;
      }
    }
  }
}
