.header {
  max-width: 1280px;
  margin: 0 auto;
  position: fixed;
  display: flex;
  top: 25px;
  right: 0;
  left: 0;
  justify-content: space-between;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  padding: 12px 32px;
  z-index: 9999;
  transition: all 0.5s ease-out;

  &__state_dark {
    background-color: rgba(54, 53, 53, 0.418);
  }

  &__state_hidden {
    top: -80px;
  }

  &__controls {
    display: flex;
    align-items: center;
  }

  &__nav {
    display: flex;
    margin-right: 100px;
    column-gap: 62px;
  }

  &__lang {
    display: flex;
    column-gap: 16px;
  }

  @media (max-width: 950px) {
    width: calc(100% - 10px);
    top: 25px;
    flex-direction: column;

    &__state_active {
      width: 100%;
      border-radius: 0px;
      background: $green;
      height: 100vh;
      align-items: center;
      top: 0px;
      transition: all 0.5s ease-out;
      overflow-y: scroll;
    }

    &__controls {
      padding-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 100px;
    }

    &__controls_hidden {
      display: none;
    }

    &__nav {
      display: flex;
      margin-right: 0px;
      column-gap: 62px;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 50px;
    }

    &__lang {
      display: flex;
      column-gap: 31px;
      justify-content: center;
    }

    &__logo {
      width: 103px;
    }

    &__burger {
      position: absolute;
      right: 195px;
      top: 5px;
    }

    &__burger_active {
      top: 10px;
    }

    &__state_hidden {
      top: -80px;
    }
  }
}
