@import "../utils/mixin";

.hero {
  background: no-repeat url("../images/images/hero_image.jpg");
  background-size: cover;
  height: 100vh;
  min-height: 800px;

  &__title {
    @include text-mixin($white, $font-unboun, 80px, 800);
    padding-top: 20%;
    line-height: 99px;
    max-width: 612px;
  }

  &__subtitle {
    @include text-mixin($white, $font-rail, 30px, 700);
    line-height: 35px;
    max-width: 612px;
    padding-top: 50px;
  }

  // @media (max-width: 1280px) {
  //   padding: 0 15px;
  // }

  @media (max-width: 750px) {
    background-position: -733px 0px;

    &__title {
      @include text-mixin($white, $font-unboun, 45px, 800);
      line-height: 56px;
      padding-top: 280px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 23px;
    }
  }
}
