@import "../utils/mixin";

.instagram {
  overflow: hidden;
  position: relative;

  &__items {
    padding-bottom: 20px;
  }

  &__btn-wrapper {
    top: -150px;
    position: relative;
    max-width: 1280px;
  }

  &__slide {
    overflow: hidden;
    border-radius: 10px;
    min-height: 296px;
    min-width: 296px;
    height: 296px;
    width: 296px;
  }

  &__header {
    padding-bottom: 100px;
  }

  &__img {
    width: 296px;
    height: auto;
  }

  &__link {
    color: $green;
  }

  @media (max-width: 1280px) {
    .instagram {
      &__header {
        row-gap: 50px;
        padding-bottom: 32px;
      }
    }
  }

  @media (max-width: 950px) {
    &__header {
      padding-bottom: 32px;
    }
  }
}
