@import "../utils/mixin";

.tours {
  overflow: hidden;

  &__swiper {
    padding-top: 100px;
  }
}

.lakes {
  &__img {
    border-radius: 10px;
  }

  &__text {
    padding-top: 32px;
  }
}

.swipe-block {
  width: 130%;
}

.special {
  position: relative;
}

.btn-wrapper {
  max-width: 1280px;
}

.lakes__slide {
  // min-height: 554px;
}

.swiper {
  height: 100%;
}

.btn-wrapper {
  top: -350px;
  position: relative;
}

@media (max-width: 1280px) {
  .tours {
    padding: 0 15px;
  }
}
