@import "../utils/mixin";

.services {
  &__text-bold {
    margin-bottom: 10px;
  }

  &__list_padding {
    padding-bottom: 20px;
  }

  &__slide {
    min-height: 500px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
  }

  &__item {
    white-space: normal;
    // width: 400px;
    // word-wrap: break-word;
  }

  &__list-item {
    padding-bottom: 4px;
  }
  &__text-comment {
    padding-top: 5px;
  }
  &__list-item__circle {
    list-style-type: disc;
    list-style-position: inside;
  }
  &__footer {
    display: block;
    padding: 10px;
    width: 100%;
    border: 1px solid $black;
    border-radius: 10px;
    text-align: center;
  }

  &__items {
    width: 100%;
    max-width: 1280px;
  }
}

// @media (max-width: 1280px) {
//   .services {
//     padding: 0 15px;
//   }
// }

@media (min-width: 1280px) {
  .services {
    &__items::-webkit-scrollbar {
      display: none;
    }

    &__items::-webkit-scrollbar-track {
      display: none;
    }

    &__items::-webkit-scrollbar-thumb {
      display: none;
    }

    &__items::-webkit-scrollbar-thumb:hover {
      display: none;
    }

    &__items::-webkit-scrollbar:vertical {
      display: none;
    }
  }
}
