@import "../utils/mixin";

.tours {
  overflow: hidden;

  &__swiper {
    padding-top: 100px;
  }

  &__slider {
    padding-top: 100px;
  }

  &__block-right .text:last-child {
    padding-bottom: 0px;
  }

  // @media (max-width: 1280px) {
  //   padding: 0 15px;
  // }

  @media (max-width: 750px) {
    &__slider {
      padding-top: 50px;
    }
  }
}

.lakes {
  &__img {
    border-radius: 10px;
  }

  &__text {
    padding-top: 32px;
  }
}
