.weather {
  padding-bottom: 200px;

  &__widget {
    width: 100%;
  }

  @media (max-width: 950px) {
    padding-bottom: 100px;

    &__container {
      padding-top: 50px;
    }

    &__title {
      padding-top: 0px;
    }

    &__widget {
      width: 100%;
      max-width: 620px;
    }
  }
}
