@import "reset.css";
@import "./utils/font";
@import "./utils/mixin";

.text {
  @include text($black, $font-rail);
  padding-bottom: 16px;
}

.text-bold {
  @include text($black, $font-rail);
  padding-bottom: 16px;
  font-weight: 700;
}

.title {
  @include title($black, $font-rail);
}

.title-block {
  @include title($black, $font-rail);
  padding-bottom: 100px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 200px;
}

.image-wrapper {
  width: 620px;
  height: 296px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  max-width: 620px;
}

.row-grid {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/lang";
@import "./blocks/navigation";
@import "./blocks/hero";
@import "./blocks/about";
@import "./blocks/weather";
@import "./blocks/subscribe";
@import "./blocks/rent";
@import "./blocks/gift";
@import "./blocks/form";
@import "./blocks/gift-card";
