@import "reset.css";
@import "./utils/font";
@import "./utils/mixin";
@import "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css";

.body {
  background-color: $background;
}

.text {
  @include text($black, $font-rail);
  padding-bottom: 16px;
}

.text-bold {
  @include text($black, $font-rail);
  padding-bottom: 16px;
  font-weight: 700;
}

.title {
  @include title($black, $font-rail);
}

.title-block {
  @include title($black, $font-rail);
  padding-bottom: 100px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 200px;
}

.image-wrapper {
  // width: 620px;
  height: 296px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.block-image {
  border-radius: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  max-width: 620px;
}

.row-grid {
  display: grid;
  column-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.container-grid {
  display: grid;
  column-gap: 40px;
  grid-template-areas:
    "grid-title grid-title"
    "grid-left grid-right";

  grid-template-columns: 1fr 1fr;
}

.grid-title {
  grid-area: grid-title;
  max-width: 620px;
  width: 100%;
}

.grid-left {
  grid-area: grid-left;
  max-width: 620px;
}

.grid-right {
  grid-area: grid-right;
  max-width: 620px;
}

@media (max-width: 950px) {
  .container-grid {
    display: grid;
    column-gap: 40px;
    grid-template-areas:
      "grid-left"
      "grid-title"
      "grid-right";

    grid-template-columns: 1fr;
    justify-items: center;
  }

  .container {
    padding-top: 100px;
  }

  .title-block {
    padding: 50px 0 32px;
  }
}

@import "./blocks/header";
@import "./blocks/logo";
@import "./blocks/lang";
@import "./blocks/navigation";
@import "./blocks/hero";
@import "./blocks/about";
@import "./blocks/weather";
@import "./blocks/subscribe";
@import "./blocks/rent";
@import "./blocks/gift";
@import "./blocks/form";
@import "./blocks/gift-card";
@import "./blocks/services";
@import "./blocks/lakes";
@import "./blocks/contacts";
@import "./blocks/social";
@import "./blocks/footer";
@import "./blocks/instagram";

.none {
  display: none;
}

.link__underline {
  text-decoration: underline !important;
}
